<nav>
  <h1 class="head">NavHeader</h1>
  <div class="bar"></div>

  <a class="nav-elem" href="/">
  <img src="icons/home.png" alt="home">
  <p>Home</p>
  </a>
  <div class="bar"></div>
  
  <a class="nav-elem" href="/addTask">
  <img src="icons/editing.png" alt="home">
    <p>Add Task</p>
  </a>
  <div class="bar"></div>

  <a class="nav-elem" href="/">
  <img src="icons/home.png" alt="home">
  <p>Home</p>
  </a>
  <div class="bar"></div>

  <a class="nav-elem" href="/">
  <img src="icons/home.png" alt="home">
  <p>Home</p>
  </a>
  <div class="bar"></div>


</nav>
