<% tasks.forEach( function(o) { %>
 <div>
  <h1><%= o.task_name %></h1>
  <div class="prio-desc">
    <p class="desc"><%= o.description %></p>
    <div class="prio level<%= o.priority_level %>"></div>
  </div>
 </div> 
<% }) %>
