@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
  --prim : #E8B4B8;
  --prim-var : #EED6D3;
  --sec : #A49393;
  --sec-var : #67595E;
  --back : #F9F1F0;
  --surface : #F9F1F0;
  --err : #900020;
  --valid : #81B622;
}

body{
font-family: 'Inter';
background-color: var(--back);
display: flex;
flex-direction: row;
justify-content: space-between;
}


nav{
  position: sticky;
  top: 20px;
  display: flex;
  flex-direction: column;
  max-width: 20vw;
  max-height: 100vh;
  height: 100%;
  padding: 15px;
  border-radius: 16px;
  border: 1px solid black;
}

nav > a{
  text-decoration: none;
  color: var(--sec-var);
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  transition: all 200ms ease-in-out;
}

nav > a > img {
  margin-top: 10px;
  max-width: 26px;
  max-height: 26px;
}

nav > a:hover {
  filter: invert(20%);
  transform: scale(1.15);
}



.head{
  background-color: var(--prim);
  max-width: 15vw;
  min-width: 50%;
  padding: 10px;
  border-radius: 18px;
}

.bar{
  border: 1px solid var(--sec);
  margin-bottom: 10px;
  margin-top: 5px;
}

.main-content, .addTaskForm{
  width: 70vw;
  min-height: 100vh;
  max-height: 200vh;
  border: 1px solid black;
  padding: 10px;
  border-radius: 16px;
  text-align: center;
}

.main-content > .head{
  margin-left: 25%;
}

.taskCard{
  max-width: 40vw;
  max-height: 25vh;
  padding: 10px;
  border-radius: 16px;
  background-color: var(--sec-var);
  margin-left: 21%;
  margin-bottom: 25px;
}

 .prio-desc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.desc {
  max-width: 20vw;
  max-height: 10vh;
}

.level3 {
  background-color: red;
  width:26px;
  height: 26px;
  margin-top: 10px;
}

.addTaskForm{
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
}

form > button {
  max-width: 10%;
  max-height: 20%;
  padding-left: 15px;
  padding-right: 15px;
}

.buttons{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.neg-btn , .edit-btn{
  text-decoration: none;
  max-width: 5vw;
  max-height: 5vh;
  padding: 5px;
  border-radius: 8px;
}

.neg-btn{
  background-color: var(--err);
  color: var(--surface);
}

.edit-btn {
  background-color: var(--surface);
  color: var(--sec-var)
}
